<div class="maindiv">
    <div style="overflow-x: hidden;">
        <div class="pt-4">
            <h2 class="color_blue text-center fw-bold">Frequently Asked Questions</h2>
            
            <div class="accordion accordion-flush" id="accordionFlushExample" style="">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Login Related
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body" style="font-size: 13.15px;">
                    Can I signup with multiple accounts on my phone?<br>
                    No, you can only signup with one account on your device.<br><br>
                    I’m unable to login even after providing my email address.<br>
                    That shouldn’t be happening. Please send us an email about the issue at care@zupee.com<br><br>
                    How to Install?<br>
                    Click on the download app button. The installation doesn’t take a lot of time and is simple. Once you open the apk file, your phone will ask for permission. Click ‘allow’ on all permission requests and install the app on to your phone. We promise you our game is safe and secure!
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Game Related
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body" style="font-size: 13.15px;">
                    I am from Andhra Pradesh / Assam / Odisha / Sikkim / Meghalaya / Nagaland / Arunachal Pradesh / Tamil Nadu / Telangana and am unable to play paid games. Why am I only allowed to play free games?<br>
                    The laws pertaining to skill games in these states differ from the rest of India where any person above 18 years can play paid games on our app.<br><br>
                    Why can I only see Ludo Supreme on the app? Other game formats are not visible for me.<br>
                    We are in the process of unlocking new game formats on the app for our users in a phased manner. You shall soon be able to enjoy new game formats on the app.<br><br>
                    Can I actually win money on your app?<br>
                    Yes. You can win actual cash and can instantly withdraw it using various simple payment methods like bank transfer and UPI.

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Payments & Withdrawal Related
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingfour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                    Referral Related
                  </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefour">
                  Profile Related
                </button>
              </h2>
              <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
              </div>
          </div>
            
        </div>
 
                <!-- footer custom -->
    <div class="" style="background: #4611a7;border: 1px solid #e1e6f5;">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer_title">Zupee</div>
                <p>
                    <a class="f-link" href="#">About Us</a><br>
                    <a class="f-link" href="#">RNG Certification</a><br>
                    <a class="f-link" href="#">AIGF Skill Certificate</a><br>
                    <a class="f-link" href="#">Privacy Policy</a><br>
                    <a class="f-link" href="#">Privacy Policy – Zupee Free</a><br>
                    <a class="f-link" href="#">Terms & Conditions</a><br>
                    <a class="f-link" href="#">Terms and Conditions – Zupee Free</a><br>
                    <a class="f-link" href="#">Responsible Gaming</a><br>
                    <a class="f-link" href="#">Blog</a><br>
                    <a class="f-link" href="#">Careers</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div>
                    <div class="footer_title">Our Games</div>
                    <p>
                        <a class="f-link" href="#">Ludo</a><br>
                        <a class="f-link" href="#">Snakes and ladders Plus</a><br>
                        <a class="f-link" href="#">Trump Cards Mania</a><br>
                        <a class="f-link" href="#">Zupee Cricket X Tambola</a><br>
                        <a class="f-link" href="#">Zupee Cricket Cards</a>
                    </p>
                </div>
               
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer_title">Popular Posts</div>
                <p>
                    <a class="f-link" href="#">Download ludo online cash games (iOS | Android)</a><br>
                    <a class="f-link" href="#">Best money earning apps in India</a><br>
                    <a class="f-link" href="#">How to Win Ludo Money online</a><br>
                    <a class="f-link" href="#">Ludo earning app to win cash</a><br>
                    <a class="f-link" href="#">Play games to win money online</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer_title">Payment Partners</div>
                <p><img class="payment-icon lazyLoaded" src="/assets/images/razorpay.png"></p>
                <p><img class="payment-icon lazyLoaded" src="/assets/images/juspay.png"></p>
                <p><img class="payment-icon lazyLoaded" src="/assets/images/cashfree.png"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footerCustom">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="">
                        <a href="#"><img class="footer-logo" [src]="path + footerCustomData.logoImage" ></a>
                    </div>
                    <div>
                        <ul>
                            <li><a href="https://www.facebook.com/zupeegames"><img class="linkImage" [src]="path + footerCustomData.facebook"></a></li>
                            <li><a href="https://www.facebook.com/zupee_official"><img class="linkImage" [src]="path + footerCustomData.instagram"></a></li>
                            <li><a href="https://www.facebook.com/c/zupeeofficial"><img class="linkImage" [src]="path + footerCustomData.youtube"></a></li>
                            <li><a href="mailto:care@zupee.com"><img class="linkImage" [src]="path + footerCustomData.messanger"></a></li>
                        </ul>
                    </div>
                    <p class="copyright-text">{{footerCustomData.lastText}}</p>
                </div>
            </div>
        </div>
    </div>


    

       
</div>