<div class="maindiv">
  <div class="d-md-flex d-block"  style="overflow-x: hidden;">
  
     <div class="contactMainDiv">
          <div>
            <h3 class="color_blue fw-bold contactHeading" style="">CONTACT US</h3>
          </div>
          <form class="m">
              <div class="form-group">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name*">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control mt-3"  id="exampleFormControlInput1" placeholder="Phone Number*">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mt-3" id="exampleFormControlInput1" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mt-3"  id="exampleFormControlInput1" placeholder="Enter Subject">
                </div>
              
              <div class="form-group">
                <textarea class="form-control mt-3" id="exampleFormControlTextarea1" rows="3" placeholder="Write your query (minimum 20 characters*)"></textarea>
              </div>
              <div>
                <button class="color_blue fw-bold my-4 ms-4" style="background: #ffe800;padding: 10px 20px;border-radius: 20px;border: none;">Send Your Query!</button>
              </div>
            </form>
          </div> 
          
          <div>
            <h4 class="color_blue fw-bold socialLink" style="">EMAIL US</h4>
            <h5 style="" class="ms-md-5 ms-4 color_blue">care@zupee.com</h5>
            <div class="d-flex ms-md-5 ms-2 my-5">
              <img class="ms-3" height="70" src="/assets/images/facebook.webp">
              <img class="ms-3" height="70" src="/assets/images/instagram.webp">
              <img class="ms-3" height="70" src="/assets/images/youtube.webp">
              <img class="ms-3" height="70" src="/assets/images/messanger.webp">
            </div>
          </div>
    </div>
    

    <!-- footer custom -->
    <div class="" style="background: #4611a7;border: 1px solid #e1e6f5;">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="footer_title">Zupee</div>
              <p>
                  <a class="f-link" href="#">About Us</a><br>
                  <a class="f-link" href="#">RNG Certification</a><br>
                  <a class="f-link" href="#">AIGF Skill Certificate</a><br>
                  <a class="f-link" href="#">Privacy Policy</a><br>
                  <a class="f-link" href="#">Privacy Policy – Zupee Free</a><br>
                  <a class="f-link" href="#">Terms & Conditions</a><br>
                  <a class="f-link" href="#">Terms and Conditions – Zupee Free</a><br>
                  <a class="f-link" href="#">Responsible Gaming</a><br>
                  <a class="f-link" href="#">Blog</a><br>
                  <a class="f-link" href="#">Careers</a>
              </p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
              <div>
                  <div class="footer_title">Our Games</div>
                  <p>
                      <a class="f-link" href="#">Ludo</a><br>
                      <a class="f-link" href="#">Snakes and ladders Plus</a><br>
                      <a class="f-link" href="#">Trump Cards Mania</a><br>
                      <a class="f-link" href="#">Zupee Cricket X Tambola</a><br>
                      <a class="f-link" href="#">Zupee Cricket Cards</a>
                  </p>
              </div>
             
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="footer_title">Popular Posts</div>
              <p>
                  <a class="f-link" href="#">Download ludo online cash games (iOS | Android)</a><br>
                  <a class="f-link" href="#">Best money earning apps in India</a><br>
                  <a class="f-link" href="#">How to Win Ludo Money online</a><br>
                  <a class="f-link" href="#">Ludo earning app to win cash</a><br>
                  <a class="f-link" href="#">Play games to win money online</a>
              </p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="footer_title">Payment Partners</div>
              <p><img class="payment-icon lazyLoaded" src="/assets/images/razorpay.png"></p>
              <p><img class="payment-icon lazyLoaded" src="/assets/images/juspay.png"></p>
              <p><img class="payment-icon lazyLoaded" src="/assets/images/cashfree.png"></p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="footerCustom">
                  <div class="col-md-12 col-sm-12 col-xs-12" style="">
                      <a href="#"><img class="footer-logo" [src]="path + footerCustomData.logoImage" ></a>
                  </div>
                  <div>
                      <ul>
                          <li><a href="https://www.facebook.com/zupeegames"><img class="linkImage" [src]="path + footerCustomData.facebook"></a></li>
                          <li><a href="https://www.facebook.com/zupee_official"><img class="linkImage" [src]="path + footerCustomData.instagram"></a></li>
                          <li><a href="https://www.facebook.com/c/zupeeofficial"><img class="linkImage" [src]="path + footerCustomData.youtube"></a></li>
                          <li><a href="mailto:care@zupee.com"><img class="linkImage" [src]="path + footerCustomData.messanger"></a></li>
                      </ul>
                  </div>
                  <p class="copyright-text">{{footerCustomData.lastText}}</p>
              </div>
          </div>
      </div>
  </div>
</div>