<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: #ffe800 ;">
    <div class="container-fluid mx-5">
      <a href="/"><img src="/assets/images/zupee-logo.png" class="ms-5" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              OUR GAMES
            </a>
            <ul class="dropdown-menu games" aria-labelledby="navbarDropdownMenuLink" style="background-color: #ffe800;">
              <li><a class="dropdown-item" href="/ludo">LUDO</a></li>
              <li><a class="dropdown-item" href="#">LUDO SUPREME</a></li>
              <li><a class="dropdown-item" href="#">LUDO TURBO</a></li>
              <li><a class="dropdown-item" href="#">LUDO NINJA</a></li>
              <li><a class="dropdown-item" href="#">LUDO SUPREME</a></li>
              <li><a class="dropdown-item" href="#">SNACKS AND LADDERS PLUS</a></li>
              <li><a class="dropdown-item" href="#">TRUMP CARDS MANIA</a></li>
              <li><a class="dropdown-item" href="#">ZUPEE CRICKET CARDS</a></li>
              <li><a class="dropdown-item" href="#">ZUPEE CRICKET X TUMBOLA</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/aboutus">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faqs">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newsroom">NEWSROOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>