.color_blue{
    color: #4611a7;
}
.fonts{
   
}
.maindiv{
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 69px;
    height: 100%;
    /* background-color: #ffe800; */
}
.blogImage{
    height:250; width:auto;
    padding: 10px;
}
.m{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}
.btnSubmit{
    background-color: #ffe800;
    border: none;
    padding: 3px 15px;
    color: #4611a7;
    margin-left: 5px;
}
.divSubmit{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
}
@media(max-width:768px) {
    img.blogImage{
        width: 100%;
        padding: 0px;
    } 
    div.m{
        margin-left: 0;
        margin-right: 0;
    }
    div.btnSubmit{
        background-color: #ffe800;
        border: none;
        padding: 2px 10px;
        font-size: 14px;
        color: #4611a7;
        margin-left: -10px;
    }
    .divSubmit{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 50px;
    }
}

